@model AspCat.Models.Cat
<li class="cat-list col-sm-6">
    <div class="card border-secondary m-3">
        <div class="card-header">@Model.Name</div>
        <div class="card-body">
            <img class="card-img-top" src="..." alt="Image of @Model.Name">
            <h6 class="card-subtitle mb-2 text-muted">@Model.Breed.Name</h6>
            @if (!Model.IsDeceased)
            {
                <p class="card-text">
                    @Model.Name weighs @Model.Weight kg and is @Model.GetAge() old.
                </p>
            }
            else
            {
                <p class="card-text">
                    Poor @Model.Name died, aged @Model.GetAge() old.
                </p>
            }
            <p>
                Owned by @Model.Owner.Name.
            </p>
            <button href="#" class="btn btn-default">Learn more</button>
        </div>
    </div>
</li>