@using AspCat.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model AspCat.Models.Cat
<li class="cat p-0 col-sm-6">
    <div class="card border-secondary m-3">
        <div class="card-header">
            <div class="row">
                <div class="col-6 my-auto text-truncate text-left">@Model.Name</div>
                <div class="col-6 text-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="btn btn-link p-2 js-toggle-like
                           @(Model.Likes.Select(l => l.CatId).Contains(Model.Id) ? "text-danger" : "text-secondary")
                           " data-cat-id="@Model.Id"><i class="fas fa-heart" style="pointer-events: none"></i></a>
                        @if (UserManager.GetUserId(User) == Model.OwnerId)
                        {
                            <a class="btn btn-link p-2 text-secondary js-delete-cat" data-cat-id="@Model.Id">
                                <i class="fas fa-trash" style="pointer-events: none"></i></a>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (Model.Image != null)
            {
                <img class="card-img-top mb-3" src="/Images/View/@Model.Image.Id" alt="Image of @Model.Name">
            }
            <h6 class="card-subtitle mb-2 text-muted">@Model.Breed.Name</h6>
            @if (!Model.IsDeceased)
            {
                <p class="card-text">
                    @Model.Name weighs @Model.Weight kg and is @Model.GetAge() old.
                </p>
            }
            else
            {
                <p class="card-text">
                    Poor @Model.Name died, aged @Model.GetAge() old.
                </p>
            }
            <p>
                Owned by @Model.Owner.Name.
            </p>
            <button href="#" class="btn btn-default">Learn more</button>
        </div>
    </div>
</li>