@model CatsViewModel
@{
    ViewData["Title"] = "View Cats";
}
<ul class="row">
    @foreach (var cat in Model.Cats)
    {
        <li class="cat-list col-sm-6">
            <div class="card border-secondary m-3">
                <div class="card-header">@cat.Name</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">@cat.Breed.Name</h6>
                    <p class="card-text">@cat.Name weighs @cat.Weight kg and is @cat.GetAge() old</p>
                    <button href="#" class="btn btn-default">Learn more</button>
                </div>
            </div>
        </li>
    }
</ul>